.section-header {
    /* width: 1440px; */
    height: 770px;
    background-image: url(/assets/images/image-bg.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}
a.navbars-img{
    margin-right: 80px;
}
.header {
    color: white;
    width: 40%;
    margin: 0 auto;
}
.sub-header {
    position: absolute;
    bottom: 0;
    left: 35%;
    margin-left: -200px;
}
.sub-header .images{
    width: 100%;
}
.player {
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.content {
    margin-top: 180px;
}
.content-two {
    margin-top: 20px;
}
.container .items {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-top: 12px;
}
.container .item {
    padding: 0 10px;
    font-size: 13px;

    font-weight: 500;
}
.container .item a{
    color: #232323;
}
footer .container .row {
    align-items: center;
}
.container .items a{
    text-decoration: none;
}

.footer-link {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 11px;
    color: #6b6b6b;

}
.footer-link .images-link {
    width: 100%;
}
.footer-link .sub{
    width: 100%;
}
.container .head {
    margin-top: 20px;
    text-align: center;
}
.semi-footer {
    margin-bottom: 80px;
}
.semi-footer .row {
    justify-content: center;
}
.cards img{
    /* width: 0%; */
}
.content-three .col-md-3{
 text-align: end;
}
.content-two {
    margin-bottom: 40px;
}
.content-two .cards {
    height: 300px;
    background-image: url(/assets/images/image-semifooter.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 7px;
    background-color: #e42c2d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-text .text {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Gotham";
    text-align: center;
    filter: drop-shadow(0px 2px 1px rgba(2,5,3,0.35));
}
.cards-text .sub-text{
    font-size: 52px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Gotham";
    text-align: center;
    filter: drop-shadow(0px 2px 1px rgba(2,5,3,0.35));
}
.content .card-imgs {
    text-align: center;
    position: relative;
}
.content .card-content {
    position: absolute;
    top: 54px;
    left: 35%;
    right: 35%;
}
.content .card-imgs .card-content .sub-text {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.content .cards-content {
    position: absolute;
    top: 220px;
    left: 20%;
    right: 20%;
}
.insatgram-content .head {
    color: #ffffff;
    font-family: "Gotham";
}
.insatgram-content .head .text {
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;

}
.insatgram-content .sub-text{
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
.instagram-time {
    color: #ffffff;
    font-weight: bold;
    font-family: "Gotham";
}
.instagram-time .dates{
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 0!important;
}
.instagram-time .times {
    font-size: 18px;
    line-height: 26px;
}
.content .card-imgs .card-content .sub-text .text-live{
    background-color: #ffffff;
    color: black;
    padding: 6px 8px;
    width: 61px;
    border-radius: 5px;
    text-transform: uppercase;
/* height: 31px; */
}
.instagram-text {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}
.insta-text {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
}
.insta-text .name {
    margin-bottom: 0!important;
}
.desc {
    border-radius: 5px;
    background-color: #e42c2d;
    padding: 6px 0;
    position: relative;
    color: #ffffff;
    top: -12px;
}
span.text {
    text-transform: lowercase!important;
}
.content-three .news-card .news-text {
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}
.content-three .card-body .date {
    font-size: 12px;
    color: #979797;
}
.content-three .text-news {
    font-size: 20px;
    color: #252525;
    font-weight: bold;
}
.content-three .card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.content-three .text-news span.sub-text{
    font-size: 20px;
    color: #e42c2d;
    font-weight: bold;
}
.content-three .card-body .tagline.active {
    font-size: 18px;
    line-height: 22px;
    color: #e42c2d;
    font-weight: bold;
}
.content-three .card-body .tagline{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .header {
        width: 70%;
        margin: 0 auto;
    }
    .sub-header {
        position: absolute;
        bottom: 29px;

        left: 0;
        /* margin-top: -100px; */
        margin-left: 0;
    }
    .sub-header .images{
        width: 100%;
    }
    a.navbars-img{
        margin-right: 0;
    }
    .card-imgs .header-img {
        width: 100%;
    }
    .container .items {
        display: block;
    }
}